/*###########################NORMALIZA CSS*#######################################*/
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    transition: .5 all;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url(font/Helvetica-Light-Light.eot);
    src: url(font/Helvetica-Light-Light.eot?#iefix) format('embedded-opentype'),
         url(font/Helvetica-Light-Light.woff) format('woff'),
         url(font/Helvetica-Light-Light.ttf) format('truetype'),
         url(font/Helvetica-Light-Light.svg#Helvetica-Light-Light) format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Helvetica-Bold';
    src: url('font/Helvetica-Bold___.eot');
    src: url('font/Helvetica-Bold___.eot?#iefix') format('embedded-opentype'),
         url('font/Helvetica-Bold___.woff') format('woff'),
         url('font/Helvetica-Bold___.ttf') format('truetype'),
         url('font/Helvetica-Bold___.svg#Helvetica-Bold___') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, figure,figcaption, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li, menu,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td, canvas {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
 }
 
 body {
 line-height: 1;
 }
 ol, ul, menu {
 list-style: none;
 }
 blockquote, q {
 quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 content: '';
 }
 /* remember to define focus styles! */
 :focus {
 outline: 0;
 }
 /* tables still need 'cellspacing="0"' in the markup */
 table {
 border-collapse: collapse;
 border-spacing: 0;
 }
/*###########################NORMALIZA CSS*#######################################*/

li {
	display: inline-block;
}

a {
	color: black;
	display: inline-block;
	text-decoration: none;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

.wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}

header, section, footer {
	flex: 1 100%;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 50px 0;
}

/*HEADER*/

header{
	background: url(../img/bg.png) 100%;
	background-size: cover;
}

header a{
	color: white;
}

.social_list {
	display: block;
	float: left;
}

.nav_list {
	display: block;
	float: right;
}

.social_link {
	width: 35px;
	height: 35px;
}

.gh {
	background: url(../img/icon.png) no-repeat 0 103%;
}

.vk {
	background: url(../img/icon.png) no-repeat 33% 103%;
}

.fb {
	background: url(../img/icon.png) no-repeat 66% 103%;
}

.in {
	background: url(../img/icon.png) no-repeat 100% 103%;
}

.gh:hover {
	background: url(../img/icon.png) no-repeat 0 0%;
}


.vk:hover {
	background: url(../img/icon.png) no-repeat 33% 0%;
}

.fb:hover {
	background: url(../img/icon.png) no-repeat 66% 0%;
}

.in:hover {
	background: url(../img/icon.png) no-repeat 100% 0%;
}

.nav_link {
	text-transform: uppercase;
	padding: 0 20px;
	color: rgba(255,255,255,.7);
	transition: 0.2s all;
}

.nav_link:hover {
	color: white;
}

.jumbotron {
	width: 100%;
	display: inline-block;
	margin: 14% auto;
	text-align: center;
}

.name {
	color: white;
	font-size: 2.5em;
	letter-spacing: 5px;
}

.scrol {
	margin: 0 auto;
	background: url(../img/scroll.png) no-repeat;
	width: 97px;
	height: 125px;
}

/*SECTION ME*/

.section_me{
	background: #f3f3f3;
	text-align: center;
}

.about_me {
	color: #333;
	font-weight: 300;
}

.title {
	width: 100%;
	margin: 60px auto 30px auto;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #333;
	font-weight: normal;
}

.foto img{
	margin: 100px 0 40px;
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

/*WORK*/

.selection_works {
	/*background: #2D2C2C;*/
}

.container_works {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.work_link {
	flex: 1 1 350px;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	max-width: 520px;
	border: 1px solid white;
}

.work_link figure {
	position: relative;
}

.img_work {
	max-width: 100%;
	display: block;
	position: relative;
}

.work_link figcaption {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 80%;
	text-align: center;
}

.work_link figcaption a {
	border: 1px solid #D3D3D3;
	color: #D3D3D3;
	padding: 10px 40px;
}
.work_link figcaption a:hover {
	border: 1px solid white;
	color: white;
	background: rgba(255,255,255,.3);
}

.work_link:hover {
	border: 1px solid #2D2C2C;
}
.work_link:hover figcaption {
	display: block;
	background: rgba(0,0,0,.7);
}

.work_info {
	padding: 30px 30px;
}

.work_name {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
	margin-bottom: 10px;
}

.description {
	visibility: hidden;
	font-weight: 300;
	color: white;
}

.work_link:hover .img_work{
	opacity: 0.95;
}

.work_link:hover .work_info{
	background: #2D2C2C;
	color: #D0D0D0;
	transition: 0.4s all;
}

.work_link:hover .description {
	visibility: visible;
	color: #929292;
	transition: 0.5s all;
}

/*CONTACT*/

.contact {
	background: url(../img/bg2.png) 100%;
	background-size: cover;
}

.contact * {
	color: white;
}

.contact .container {
	width: 100%;
	margin: 15% auto;
}

.container_contact {
	display: flex;
	justify-content: center;
}

.contact_left {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: right;
	margin-right: 30px; 
	flex: 1 1 48%;
}

.contact_right {
	margin-top: 30px;
	margin-bottom: 50px;
	flex: 1 1 52%;
	margin-left: 30px; 
}

.contact_left a{
	border: 1px solid white;
	padding: 20px 30px;
	margin: 30px;
	margin-right: 0;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: .9em;
}
.contact_left a:hover {
	background: #383838;
	color:white;
	border: 1px solid black;
}

.contact_link {
	display: block;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 30px;
	opacity: .8;
}

.contact_link:hover {
	opacity: 1;
}

.gmail:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/contact.png) 100% 100%;
	vertical-align: top;
	margin-right: 20px;
}

.phone:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 22px;
	background: url(../img/contact.png) 0 0;
	vertical-align: top;
	margin-right: 20px;
}

.skype:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/contact.png) 44% 50%;
	vertical-align: top;
	margin-right: 20px;
}