@media (max-width: 479px) {
	h1 {
		font-size: 1.2rem;
	}
	.nav-bar__link {
		font-size: 1em;
	}
	.unit-jumbotrone__text {
		bottom: 25%;
	}
	.unit-jumbotrone__h1 {
		font-size: 0.65em;
	}
	.btn-primary {
	    width: 85px;
	    padding: 4px;
	    font-size: 10px;
	}
	iframe {
		width: 100%;
		height: 40vh;
	}
	.nav-link {
		margin: 0px;
		padding: 14px 18px;
	}
	.tab-container {
		font-size: 20px;
	}
	.entry__item {
		flex-direction: column;
		margin: 20px 0;
		text-align: center;
		align-items: flex-start;
	}
	.entry__icon-container {
		margin-right: 0;
	}
	.entry__line {
		left: 74vw;
	}
	.entry__line:after {
	    width: 80vw;
		right: 20px;
	}
	.entry__item:nth-child(2n+2) {
	    margin-left: 0;
	}
	.entry__item span {
		margin-top: 20px;
		width: 100%;
	}
	.result__list {
		padding: 0;
	}
	.result__link {
		width: 130px;
		height: 100px;
	    margin: 5px auto;
	}
	.result__icon {
	    font-size: 2.1em;
	    margin-top: 12px;
	    margin-bottom: 7px;
	}
	.result__link p {
	    font-size: 12px;
	}
	
	.map_class {
		display: none;
	}
	
	.contact-form {
	    position: relative;
	    width: auto;
	    margin: 0;
	    top: 0;
	    border-radius: 0;
	    box-shadow: none;
	}
}
