@media (max-width: 479px) {
	.nav-bar__link {
		font-size: 1em;
	}
	.unit-jumbotrone__text { 
		bottom: 25%;
	}
	.unit-jumbotrone__h1 {
		font-size: 0.65em;
	}
	.btn-primary {
	    width: 85px;
	    padding: 4px;
	    font-size: 10px;
	    border-radius: 10px;
	}
	iframe {
		width: 300px;
		height: 175px;
	}
	.nav-link {
		margin: 0px;
		padding: 14px 18px;
	}
	.tab-container {
		width: 20px;
		height: 20px;
	}
}
