@media (max-width: 767px) {
	.nav-bar__link {
		font-size: 1.5em;
	}
	.unit-jumbotrone__h1 {
		font-size: .9em;
	}
	.hidden-lg {
		display: block;
	}
	.hidden-md {
		display: none;
	}
	iframe {
		width: 100%;
		height: 40vh;
	}
	.nav-link {
		margin: 0px;
		padding: 16px 25px;
	}
	.tab-container {
		font-size: 30px;
	}
}