@media (max-width: 767px) {
	.nav-bar__link {
		font-size: 1.5em;
	}
	.unit-jumbotrone__h1 {
		font-size: .9em;
	}
	iframe {
		width: 428px;
		height: 334px;
	}
	.nav-link {
		margin: 0px;
		padding: 16px 25px;
	}
	.tab-container {
		width: 30px;
		height: 30px;
	}
}