@media (max-width: 991px) {
	.nav-bar__link {
		font-size: 2em;
	}
	.nav-bar__item {
		margin: 0 auto;
	}
	.icon {
		width: 40px;
		height: 40px;
	}
	.unit-jumbotrone__h1 {
		font-size: 1.1em;
	}
	iframe {
		width: 734px;
		height: 500px;
	}

	.nav-link {
		margin: 10px;
	}
	.tab-container {
		font-size: 40px;
	}
}