/*###########################NORMALIZA CSS*#######################################*/

@font-face{font-family:'fontdd3d9ca53a246950706e94726bb1403e';src:url('https://nomail.com.ua/files/eot/dd3d9ca53a246950706e94726bb1403e.eot?#iefix') format('embedded-opentype'),url('https://nomail.com.ua/files/woff/dd3d9ca53a246950706e94726bb1403e.woff') format('woff'),url('https://nomail.com.ua/files/woff2/dd3d9ca53a246950706e94726bb1403e.woff2') format('woff2');}@font-face{font-family:'GothamPro-Medium';src:local('GothamPro-Medium'),url('https://nomail.com.ua/files/woff/dd3d9ca53a246950706e94726bb1403e.woff') format('woff');}#gothampromedium{font-family:'GothamPro-Medium';}.fontdd3d9ca53a246950706e94726bb1403e{font-family:'fontdd3d9ca53a246950706e94726bb1403e';}

a, h1, h2, h3 {
	font-family: Helvetica, sans-serif;
	font-weight: 100;
}
h2,h3 {
	/*text-transform: uppercase;*/
}
body {
	font: 16px Helvetica, sans-serif;
	font-weight: 300;
}

* {
	box-sizing: border-box;
	font-family: 'Helvetica';
}

p {
	font-size: 14px;
}

h1 {
	text-transform: uppercase;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.title {
	font-weight: lighter;
	text-transform: uppercase;
	margin: 40px 0;
}

.title-center {
	text-align: center;
}

/*.container {
	margin-top: 15px;
	margin-bottom: 30px;
}*/

.mt40 {
	margin-top: 40px;
}

.m40 {
	margin: 40px auto;
}
.p40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

/*###############################################HEAD###############################################*/

.logo {
	width: 170px;
}

.bg_pattern {
	background: #ffffff url(../img/bg1.png) no-repeat top;
}

/*NAV-BAR*/

.navbar {

	z-index: 3;
}

.nav-bar {
	flex-basis: 100%;
	justify-content: flex-end;
}
.nav-bar__item {
	padding: .5rem;
}
.nav-bar__link {
	text-transform: uppercase;
	font-family: 'GothamPro-Medium', Arial;
	font-size: 12px;
	padding: 3px 0;
	color: #383839;
    border-bottom: 2px rgba(0,0,0,0) solid;
}
.nav-bar__link:hover {
	text-decoration: none;
	border-bottom: 2px #f4ce42 solid;
	color: #383839;
}

/*JUMBOTRON*/

.relative {
	position: relative;
}

.unit-jumbotrone {
	width: 42%;
	height: 86%;
	padding: 10px;
	background: rgba(255, 224, 0, 0.0);
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	overflow: hidden;
}

.unit-jumbotrone__obj{
	width: 88%;
	height: 100%;
	background: #fff;
	transform: rotate(45deg);
	position: absolute;
	top: -35%;
	right: -39%;

}
.unit-jumbotrone__obj:after {
	display: block;
	content: "";
	width: 100%;
	position: absolute;
	height: 76%;
	top: 62%;
	border-radius: 50%;
	background: #ffffff url(../img/bg1.png) no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
}

.unit-jumbotrone__text {
	position: absolute;
	text-align: center;
	color: #686667;
	bottom: 35%;
	left: 14%;
	z-index: 2;
}

.unit-jumbotrone__h1 {
	font-family: 'GothamPro-Medium', Arial;
	font-size: 2em;

}
.unit-jumbotrone__h1 span{
	color: #fbba00;
}

.carousel-control-next, .carousel-control-prev {
	z-index: 2;
}

.btn-primary {
	font-family: 'GothamPro-Medium', Arial;
	background: #fbba00;
	border: 1px #fbba00 solid;
	border-radius: 3px;
	width: 150px;
	padding: 10px 5px;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.66);
	box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.66);
}

.btn-primary:hover {
	background: #fbba00;
	border: 1px #fbba00 solid;
	-webkit-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.81);
	box-shadow: 0px 10px 7px -6px rgba(0,0,0,0.66);
}

/*WHO ARE WE*/

.who-are-we__link {
	display: block;
	margin: 0px auto;
}


/*MODAL*/

.hidden-lg {
	display: none;
}

.modal-content {
	border: none;
	background: 0;
}

.modal-dialog {
	    max-width: 100%;
	}

iframe {
	display: block;
	width: 960px;
	height: 626px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
}

.close {
	position: relative;
	left: 89%;
	top: 35px;
	font-size: 35px;
}

/*What do we offer*/

.what-do-we-offer {
	background: url(../img/bg2.png);
}

.filter {
	background: rgba(255,255,255,.66);
}

/*TABS*/
.nav {
	justify-content: space-between;
}

.nav-link {
	background: #d9d9d9;
	padding: 30px 40px;
	/* margin: 20px; */
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.38);
	color: #464646;
}

.nav-link:hover {
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.45);
	color: black;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
	background: #fbba00;
}

.tab-container {
/*	width: 50px;
	height: 50px;*/
	font-size: 60px;
}

/*ICON*/
.icon {
	width: 17px;
	height: 17px;
	margin: 0;
	padding: 0;
	filter: grayscale(100%);
}
.icon:hover {
	filter: grayscale(0%);
}
.icon__ua {
	background: url(../img/ua.svg);
}

.icon__en {
	background: url(../img/en.svg);
}

.icon_active {
	filter: grayscale(0%);
}


.carousel-control-next, .carousel-control-prev {
	align-items: flex-end;
	padding: 25px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    cursor: pointer;
}

/*Who may enroll*/

.who-may-entry-steps {
	display: block;
	background: url(../img/bg3.png) no-repeat;
}

.who-may-enroll p{
	width: 80%;
}

.entry__list {
	padding: 0 0px;
}

.entry__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 20px 0;
	-ms-align-items: center;
	align-items: center;
}

.entry__item:nth-child(2n+2) {
    margin-left: 58px;
}

.entry__item span {
	display: inline-block;
	font-size: 12px;
}

.entry__icon-container {
	display: flex;
	position: relative;
	margin-right: 70px;
}

.entry__icon {
	display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px #dbdbdb solid;
    border-radius: 5px;
    padding: 2px;
    transform: rotate(45deg);
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+38,cccccc+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 20%, #f0f0f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 20%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 20%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 7px 7px 13px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 13px 1px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 13px 1px rgba(0,0,0,0.3);
}

.entry__icon:after {
	content: "";
	display: block;
	background: #000;
}

.entry__grey {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #f2f4f5;
    overflow: hidden;
    position: relative;
}

.entry__grey:after {
	content: " ";
	display: block;
	position: absolute;
	background: #fbba00;
	width: 77%;
	height: 122%;
	border-radius: 30px;
	top: -9px;
	left: 4px;
}

.entry__line {
	display: inline-block;
    background: #fbba00;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    position: relative;
    top: 10px;
    left: 60px
}

.entry__line:after {
	content: "";
	display: block;
	background: #aaa;
	width: 101px;
	height: 2px;
	position: absolute;
	top: 9px;
	right: 12px;
	z-index: -1
}

.entry__count {
	transform: rotate(-45deg);
	color: white;
	font-size: 16px;
	font-weight: 700;
	z-index: 1;
	position: relative;
	left: 1px;
	top: 8px;
}


/*#######Study Principles###########*/

.study-principles {
	background: url(../img/bg4.png) no-repeat 125% top;
}

/*#######CURRICULUM###########*/

.curriculum{
	height: 100%;
	width: 100%;
	background-color: rgba(233, 233, 233, 1);
}

.left-curriculum{
	padding: 10% 10px;
}

.right-curriculum{
	display: inline-block;
	padding: 10% 10px;
}


/*#######END CURRICULUM###########*/

/*#######RESULT###########*/

.result {
	background: url("../img/bg5.png") no-repeat left top;
}

.result__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.result__link {
	text-align: center;
	width: 175px;
	height: 137px;
	background: #e9edf2;
	display: inline-block;
	margin: 10px;
	padding: 20px 20px;
	border-radius: 7px;
	color: #fbba00;
	-webkit-box-shadow: inset 0px 0px 300px -62px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 300px -62px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 300px -62px rgba(0,0,0,0.3);
	transform: scale(0.95);
	transition: all .1s;
}
.result__link:hover {
	text-decoration: none;
	color: #383839;
	background: #fbba00;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
	transform: scale(1);
	transition: all .1s;
}

.result__link:hover p{
	color: #383839;
}

.result__icon {
	display: block;
	font-size: 2.8em;
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.result__link p{
	font-size: 1em;
	font-weight: 500;
	color: #686766;
}

/*#######FAQ###########*/

.faq{
	height: 100%;
	width: 100%;
	background-color: rgba(233, 233, 233, 1);
}

.left-faq{
	padding: 10% 10px;
}

.right-faq{
	display: inline-block;
	padding: 10% 10px;
}

/*#######END FAQ###########*/
/*#######Contacts###########*/

.contacts{
	position: relative;
}

.contact-form {
	position: absolute;
	background: white;
	padding: 30px;
	width: 500px;
	border-radius: 10px;
	box-shadow: 6px 6px 20px 2px rgba(0,0,0,.3);
	z-index: 1;
	top: 200px;
}

.contacts i{
	width: 30px;
	text-align: center;
	color: #fbba00;
	font-size: 1.6em;
	margin-right: 10px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
}

.contacts__item {
    padding: 10px 0;
}

.contacts__link:hover {
	text-decoration: none;
	color: #fbba00;;
}

.social-link {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.social-link__link i:hover{
	color: black;
}

.map_class{
	position: absolute;
	width: 100%;
	height: 50vh;
	top: 0;
}

.contact_form{
	z-index: 10;
	position: absolute;
	width: 40%;
	height: 40%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	top: 20%;
	left: 10%;
	padding: 10px;
}

.contact_form a{
	text-decoration: none;
}

.contact_form a:hover{
	color: #f4ce42;
}

.contacts-line{
	border-bottom: 1px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-color: #383839;
	border-style: solid;
	width: 100%;
}

.ul-contacts__item{
	display: block;
	padding: 5px;
}

.ul-contacts__icon{
	color: #f4ce42;
	font-size: 25px;
	/*padding: 0 10px;*/
	width: 45px;
}

.social-links{
	padding-top: 30px;
	/*text-align: center;*/
	padding-left: 7%;
	position: relative;
}

.contact_form_text{
	font-size: 12px;
}



/*#######END Contacts###########*/



/*###############################################FOOTER###############################################*/

.copyright {
	font-size: .8em;
	color: rgba(0,0,0,.5)
}
