/*###########################NORMALIZA CSS*#######################################*/

@font-face{font-family:'fontdd3d9ca53a246950706e94726bb1403e';src:url('https://nomail.com.ua/files/eot/dd3d9ca53a246950706e94726bb1403e.eot?#iefix') format('embedded-opentype'),url('https://nomail.com.ua/files/woff/dd3d9ca53a246950706e94726bb1403e.woff') format('woff'),url('https://nomail.com.ua/files/woff2/dd3d9ca53a246950706e94726bb1403e.woff2') format('woff2');}@font-face{font-family:'GothamPro-Medium';src:local('GothamPro-Medium'),url('https://nomail.com.ua/files/woff/dd3d9ca53a246950706e94726bb1403e.woff') format('woff');}#gothampromedium{font-family:'GothamPro-Medium';}.fontdd3d9ca53a246950706e94726bb1403e{font-family:'fontdd3d9ca53a246950706e94726bb1403e';}

a, h1, h2, h3 {
	font-family: Arial, sans-serif;
	font-weight: normal;
}
h2,h3 {
	text-transform: uppercase;
}
body {
	font: 16px Arial, sans-serif;
	font-weight: 300;
}

* {
	box-sizing: border-box;
	font-family: 'Helvetica';
}

p {
	font-size: 14px;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.title {
	font-weight: lighter;
	text-transform: uppercase;
	margin: 40px 0;
}

.title-centre {
	text-align: center;
}

/*###############################################HEAD###############################################*/

.logo {
	width: 170px;
}

h1 {
	text-transform: uppercase;
}


.container {
	margin-top: 15px;
	margin-bottom: 30px;
}

.bg_pattern {
	background: #ffffff url(../img/bg1.png) no-repeat top;
}

/*NAV-BAR*/

.bg-light {

}

.navbar {

	z-index: 3;
}

.nav-bar {
	flex-basis: 100%;
	justify-content: flex-end;
}
.nav-bar__item {
	padding: .5rem;
}
.nav-bar__link {
	text-transform: uppercase;
	font-family: 'GothamPro-Medium', Arial;
	font-size: 12px;
	padding: 3px 0;
	color: #383839;
    border-bottom: 2px rgba(0,0,0,0) solid;
}
.nav-bar__link:hover {
	text-decoration: none;
	border-bottom: 2px #f4ce42 solid;
	color: #383839;
}

/*JUMBOTRON*/

.relative {
	position: relative;
}

.unit-jumbotrone {
	width: 42%;
	height: 86%;
	padding: 10px;
	background: rgba(255, 224, 0, 0.0);
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	overflow: hidden;
}

.unit-jumbotrone__obj{
	width: 88%;
	height: 100%;
	background: #fff;
	transform: rotate(45deg);
	position: absolute;
	top: -35%;
	right: -39%;

}
.unit-jumbotrone__obj:after {
	display: block;
	content: "";
	width: 100%;
	position: absolute;
	height: 76%;
	top: 62%;
	border-radius: 50%;
	background: #ffffff url(../img/bg1.png) no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
}

.unit-jumbotrone__text {
	position: absolute;
	text-align: center;
	color: #686667;
	bottom: 35%;
	left: 14%;
	z-index: 2;
}

.unit-jumbotrone__h1 {
	font-family: 'GothamPro-Medium', Arial;
	font-size: 2em;
	
}
.unit-jumbotrone__h1 span{
	color: #fbba00;
}

@media (max-width: 768px) {

	
}

.carousel-control-next, .carousel-control-prev {
	z-index: 2;
}

.btn-primary {
	font-family: 'GothamPro-Medium', Arial;
	background: #fbba00;
	border: 1px #fbba00 solid;
	border-radius: 10px;
	width: 150px;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.66);
	box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.66);
}

.btn-primary:hover {
	background: #fbba00;
	border: 1px #fbba00 solid;
	-webkit-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 13px 27px -10px rgba(0,0,0,0.81);
	box-shadow: 0px 10px 7px -6px rgba(0,0,0,0.66);
}

/*WHO ARE WE*/

.who-are-we__link {
	display: block;
	margin: 0px auto;
}

/*What do we offer*/

.what-do-we-offer {
	background: url(../img/bg2.png);
}

/*MODAL*/


.modal-content {
	border: none;
	background: 0;
}

.modal-dialog {
	    max-width: 100%;
	}

iframe {
	width: 960px;
	height: 626px;
	margin: 0 auto;
}

@media (max-width: 991px) {
	iframe {
		width: 734px;
		height: 500px;
	}
}

@media (max-width: 768px) {
	iframe {
		width: 428px;
		height: 334px;
	}
}

@media (max-width: 441px) {
	iframe {
		width: 300px;
		height: 200px;
	}
}

/*TABS*/
.nav {
	justify-content: space-around;
}

.nav-link {
	background: #d9d9d9;
	padding: 40px 50px;
	margin: 20px;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.38);
}

.nav-link:hover {
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.45);
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
	background: #fbba00;
}

/*ICON*/
.icon {
	width: 17px;
	height: 17px;
	margin: 0;
	padding: 0;
	filter: grayscale(100%); 
}
.icon:hover {
	filter: grayscale(0%); 
}
.icon__ua {
	background: url(../img/ua.svg);
}

.icon__en {
	background: url(../img/en.svg);
}

.icon_active {
	filter: grayscale(0%); 
}


.carousel-control-next, .carousel-control-prev {
	align-items: flex-end;
	padding: 25px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    cursor: pointer;
}

/*###############################################FOOTER###############################################*/

.copyright {
	font-size: .8em;
	color: rgba(0,0,0,.5)
}

@media (max-width: 1200px) {

	.nav-bar__item {
		padding: .4rem;
	}
	.nav-bar__link {
		font-size: .66em;
	}
	.unit-jumbotrone__text{
		left: 19%;
	}
	.unit-jumbotrone__h1 {
		font-size: 1.5em;
	}
	.btn-primary {
		width: 130px;
	    padding: 8px;
	    font-size: 12px;
	}
}

@media (max-width: 991px) {
	.nav-bar__link {
		font-size: 2em;
	}
	.nav-bar__item {
		margin: 0 auto;
	}
	.icon {
		width: 40px;
		height: 40px;
	}
	.unit-jumbotrone__h1 {
		font-size: 1.2em;
	}
}

@media (max-width: 768px) {
	.unit-jumbotrone__h1 {
		font-size: 1.2em;
	}
}
