/*###########################NORMALIZA CSS*#######################################*/
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url(font/Helvetica-Light-Light.eot);
    src: url(font/Helvetica-Light-Light.eot?#iefix) format('embedded-opentype'),
         url(font/Helvetica-Light-Light.woff) format('woff'),
         url(font/Helvetica-Light-Light.ttf) format('truetype'),
         url(font/Helvetica-Light-Light.svg#Helvetica-Light-Light) format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Helvetica-Bold';
    src: url('font/Helvetica-Bold___.eot');
    src: url('font/Helvetica-Bold___.eot?#iefix') format('embedded-opentype'),
         url('font/Helvetica-Bold___.woff') format('woff'),
         url('font/Helvetica-Bold___.ttf') format('truetype'),
         url('font/Helvetica-Bold___.svg#Helvetica-Bold___') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, figure,figcaption, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li, menu,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td, canvas {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
 }
 
 body {
 line-height: 1;
 }
 ol, ul, menu {
 list-style: none;
 }
 blockquote, q {
 quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 content: '';
 }
 /* remember to define focus styles! */
 :focus {
 outline: 0;
 }
 /* tables still need 'cellspacing="0"' in the markup */
 table {
 border-collapse: collapse;
 border-spacing: 0;
 }
/*###########################NORMALIZA CSS*#######################################*/

body {
    background: #4B1E1E;
}

.container {
    width: 960px;
    margin: 10px auto;
}

.button {
    cursor: pointer;
    display: inline-block;
    color: #f4f4f4;
    padding: 10px 20px;
    vertical-align: bottom;
        background: #f47e7e;
        font-weight: bold;
        margin-left: 5px;
        font-family: Arial,sans-serif;
        border-radius: 4px;
        border: solid 0 #e3edf4;
        border-bottom: 2px solid #e76969;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
}

h1 {
    display: inline-block;
    font-family: Arial;
    font-size: 2em;
    color: white;
}

pre {
    font-size: 16px;
    padding: 10px 20px;
    color: #2F63F8;
    text-shadow: 0px 0px 6px #0D9AA3;
    background: #373636;
    border: 5px solid #161616;
    border-radius: 2px;
    margin-bottom: 30px;
}