/*HEADER*/

body {
	font: 14px Arial;
}

.mdc-toolbar {
    background: #e9e9e9;
    color: #5c5c5c;
    padding: 0 10px;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.mdc-toolbar-clear {
	height: 52px;
}

.mdc-toolbar__row {
    min-height: auto;
}
.mdc-toolbar .mdc-tab-bar .mdc-tab {
	font-size: 14px;
    color: #5c5c5c;
    font-weight: bold;
}

.mdc-toolbar .mdc-tab-bar .mdc-tab--active, .mdc-toolbar .mdc-tab-bar .mdc-tab:hover {
    color: #fdb813;
}

.mdc-tab-bar__indicator {
	height: 3px;
}

.mdc-tab-bar--indicator-accent.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after, .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-tab-bar--theme-dark .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-tab-bar--theme-dark .mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-theme--dark .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-theme--dark .mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-toolbar .mdc-tab-bar--indicator-accent.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after, .mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator {
    background-color: #fdb813;
}

.mdc-tab {
	padding: 14px;
    min-width: 50px;
}

.mdc-button.unit-btn {
	background: #fbb900;
	color: white;
	font-weight: bold;
}

/*tuping*/

.container-text {
  position: relative;
  z-index: 2;
}

.container-text-center {
	margin: auto;
}

.static-text{
	font-size: 42pt;
	font-family: "Arial Black";
	color: #444;
}

.static-text__down {
	text-align: right;
	margin-right: -100px; 
}

.auto-text  p{
  color: #444;
  font-family: "Courier";
  font-size: 32px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  width: 21em;
  animation: type 4s steps(60, end);
  text-align: center;
}

.auto-text  p:nth-child(2){
  animation: type2 8s steps(60, end);
}

.auto-text  p a{
  color: lime;
  text-decoration: none;
}

.yellow {
	color: #fbb900;
}

.auto-text span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
