  /*HEADER*/

body {
	font: 14px Arial;
}

.logo {
	font-size: 1em;
}

.logo img{
	padding: 10px;
	width: 120%;
}

.mdc-toolbar {
    background: #eee;
    color: #5c5c5c;
    padding: 0 25px;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.mdc-toolbar-clear {
	height: 52px;
}

.mdc-toolbar__row {
    min-height: auto;
}
.mdc-toolbar .mdc-tab-bar .mdc-tab {
	font-size: 14px;
    color: #5c5c5c;
    font-weight: bold;
}

.mdc-toolbar .mdc-tab-bar .mdc-tab--active, .mdc-toolbar .mdc-tab-bar .mdc-tab:hover {
    color: #fdb813;
}

.mdc-tab-bar__indicator {
	height: 3px;
}

.mdc-tab-bar--indicator-accent.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after, .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-tab-bar--theme-dark .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-tab-bar--theme-dark .mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-theme--dark .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-theme--dark .mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-toolbar .mdc-tab-bar--indicator-accent.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after, .mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator {
    background-color: #fdb813;
}

.mdc-tab {
	padding: 20px 15px;
    min-width: 50px;
}

.mdc-button.unit-btn {
	background: #fbb900;
	color: white;
	font-weight: bold;
}

/*tuping*/

.container-text {
  position: relative;
  z-index: 2;
}

.container-text-center {
	margin: auto;
	min-width: 42%;
}

.static-text{
	font-size: 3.8em;
	font-family: "Arial Black";
	color: #444;
}

.static-text__down {
	text-align: right;
	/*margin-right: -100px; */
}

.auto-text  p{
  color: #444;
  font-family: "Courier";
  font-size: 32px;
  margin: auto;
/*  white-space: nowrap;
  overflow: hidden;
  width: 21em;*/
  text-align: center;
}

.auto-text  p a{
  color: lime;
  text-decoration: none;
}

.yellow {
	color: #fbb900;
}

.auto-text .typed-cursor{
  animation: blink 1s infinite;
}

@keyframes blink{
  to{opacity: .0;}
}

.who_we_are{
	padding-top: 0px;
  height: 100vh;
}

.who-we-are__head{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}


/*.my-card-container .mdc-card {
  height: 350px;
  width: 350px;
}*/


.mdc-card__media {
  width: 100%;
  background-color: white;
}
.video_1{
  width: 100%;
  background-color: yellow;
}

.video_2{
  height: 100%;
  width: 100%;
  background-color: yellow;

}

.video_3{
  height: 100%;
  width: 100%;
  background-color: yellow;
  
}

#owl-carousel .item{
/*  background: #42bdc2;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  videoWidth: false, // Default false; Type: Boolean/Number
  videoHeight: false, // Default false; Type: Boolean/Number
}




.mdc-card__title--large{
  padding-left: 3%

}


.test{
  background-color: white;
  width: 100%;
  height: 600px;
  padding-top: 400px;

}

/*.mdc-layout-grid {
  background-color: gray;
}


.mdc-layout-grid__inner{
  background-color: yellow;
}

.mdc-layout-grid__cell{
  background-color: blue;
}

.mdc-layout-grid__cell--span-12{
  background-color: rgba(200, 200, 200, 0.7);
}

.mdc-layout-grid__cell--span-8{
  background-color: rgba(180, 180, 180, 0.7);
}
.mdc-layout-grid__cell--span-6{
  background-color: rgba(160, 160, 160, 0.7);
}
.mdc-layout-grid__cell--span-4{
  background-color: rgba(140, 140, 140, 0.7);
}

.mdc-layout-grid__cell--span-2{
  background-color: rgba(120, 120, 120, 0.7);
}

*/










