html {
	width: 100%;
}

body {
	font: 14px Arial;
  background: #eee;
}

h2 {
    font-size: 42pt;
    font-family: 'Arial black';
    color: #333333;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

h3 {
  font-size: 24pt;
  font-family: 'Arial black';
  color: #333333;
  /*text-align: center;*/
  margin: 0;
}

h4 {
  font-size: 20pt;
  font-family: 'Arial black';
  color: #333333;
  /*line-height: 1.5rem;*/
  margin: 0;
}

.demo-body {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.demo-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.demo-main {
  padding-left: 16px;
}

.mobile {
	display: none;
}

.logo {
	font-size: 1em;
}

.logo img{
	padding: 10px;
	width: 100%;
	font-size: 1em;
}

.mdc-card {
  background: #FFF;
  margin: 10px 0;
}

.mdc-card__primary {
    padding: 10px 30px;
    padding-bottom: 0;
}

/*head*/

.fa-bars {
	font-size: 24pt;
	color: #444;
}

.top-nav.mdc-toolbar {
    background: #eee;
    color: #5c5c5c;
    padding: 0 10px;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.top-nav.mdc-toolbar-clear {
	height: 52px;
}

.top-nav .mdc-toolbar__row {
    min-height: auto;
}
.top-nav.mdc-toolbar .mdc-tab-bar .mdc-tab {
	font-size: 13px;
    color: #5c5c5c;
    font-weight: bold;
}

.top-nav.mdc-toolbar .mdc-tab-bar .mdc-tab--active, .top-nav.mdc-toolbar .mdc-tab-bar .mdc-tab:hover {
    color: #fdb813;
}

.top-nav .mdc-tab-bar__indicator {
	height: 3px;
}

.top-nav .mdc-tab-bar--indicator-accent.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after, .top-nav .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-tab-bar--theme-dark .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator,.mdc-tab-bar--theme-dark .top-nav.mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-theme--dark .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .mdc-theme--dark .top-nav.mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator, .top-nav.mdc-toolbar .mdc-tab-bar--indicator-accent.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:after, .top-nav.mdc-toolbar .mdc-tab-bar--indicator-accent .mdc-tab-bar__indicator {
    background-color: #fdb813;
}

.top-nav .mdc-tab {
	padding: 20px 10px;
    min-width: 50px;
}

.mdc-button.unit-btn {
	background: #fbb900;
	color: white;
	font-weight: bold;
}

/*moblie*/
.mdc-persistent-drawer .mdc-list-item {
	font-family: 'Arial';
	font-weight: 900;
	color: #444;
}

.mdc-persistent-drawer .mdc-persistent-drawer--selected {
    color: #fdb813;
}

/*head_end*/
/*tuping*/

#container-bg {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 548px;
  overflow: hidden;
}


.container-text {
  position: relative;
  z-index: 2;
}

.container-text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.container-text-center {
	margin: auto;
	min-width: 42%;
}

.static-text{
	font-size: 3.8em;
	font-family: "Arial Black";
	color: #444;
}

.static-text__down {
	text-align: right;
}

.auto-text  p{
  color: #444;
  font-family: "Courier";
  font-size: 32px;
  margin: auto;
  text-align: center;
}

.auto-text  p a{
  color: lime;
  text-decoration: none;
}

.yellow {
	color: #fbb900;
}

.auto-text .typed-cursor{
  animation: blink 1s infinite;
}

@keyframes blink{
  to{opacity: .0;}
}

.who_we_are{
	padding-top: 0px;
  height: 100vh;
}

.who-we-are__head{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.mdc-card__media {
  width: 100%;
  background-color: white;
}
.video_1{
  width: 100%;
  background-color: yellow;
}

.video_2{
  height: 100%;
  width: 100%;
  background-color: yellow;

}

.video_3{
  height: 100%;
  width: 100%;
  background-color: yellow;
  
}

#owl-carousel .item{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  videoWidth: false, // Default false; Type: Boolean/Number
  videoHeight: false, // Default false; Type: Boolean/Number
}

.mdc-card__title--large{
  padding: 5px 30px; 

}

.test{
  background-color: white;
  width: 100%;
  height: 600px;
  padding-top: 400px;

}

/*WHAT WE DO OFFER*/
.what_we_offer__carousel {
  position: relative;
}

#toolbar-offer-bar .mdc-tab.mdc-ripple-upgraded {
    color: #666;
    font-size: 22px;
    font-family: "Arial Black";
}

#toolbar-offer-bar .mdc-tab.mdc-tab--active.mdc-ripple-upgraded.active {
    color: #333;
}

#toolbar-offer-bar .mdc-tab-bar__indicator {
    height: 3px;
    background: #fdb813;
}

.owl-carousel .owl-item {
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1.25rem;
}

.mdc-pos {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.offer-card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.offer-text {
  margin: 20px;
  flex: 1 40%;
  line-height: 1.25rem;
}
.offer-img {
  flex: 1 60%;
  /*height: 100%;*/
  background: url('http://placehold.it/800x200/008CBA/FFFFFF/&text=3') no-repeat center;
  background-size: cover;
}

/*WHAT WE DO OFFER END*/
/*STUDY principles*/

.study_principles .mdc-card {
  height: 100%;
  margin: 0;
}

 .study_principles .mdc-card__media {
  background-image: url("img/p2p.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
/*STUDY PRINCIPLES END*/
/*STUDY СURRICULUM*/

.сurriculum .mdc-card {
  height: 100%;
  margin: 0;
}

#curriculum__left.mdc-card__media {
  background-image: url("img/curr.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#curriculum__right.mdc-card__media {
  background-image: url("img/curr2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
}

.сurriculum .mdc-button--raised{
  background: #abcc58;
  font-weight: 900;
  text-transform: none;
}

/*STUDY СURRICULUM END*/
/*RESULT*/
#result.mdc-card__media {
  background-image: url("img/result.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 325px;
}

.result-card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.entry-card{
   display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.entry-card .mdc-card{
  width: 18%;
  margin: 10px auto;
  padding: 10px;
  transition: all .5s;
}

.result-card .mdc-card{
  width: 22%;
  margin: 10px auto;
  transition: all .5s;
}

.result-card .mdc-card__supporting-text{
  text-align: center;
  height: 75px;
  align-items: center;
}

.entry-card .mdc-card__supporting-text{
  text-align: center;
  height: 75px;
  align-items: center;
}

.entry-card .mdc-card__media {
  width: 140px;
  height: 140px;
  margin: auto;
  background-image: url("img/result.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mdc-card__prev {
    margin: 0 auto;
    margin-bottom: 0;
    width: 140px;
    height: 140px;
    font-size: 65px;
    display: flex;
    box-shadow: inset 0 3px 20px rgba(0,0,0,0.49);
    border-radius: 50%;
    background: #fbb900;
    text-align: center;
}

/*.result-card .mdc-card:hover .mdc-card__prev{
  box-shadow: inset 0 -3px 20px rgba(0,0,0,0.69);
}*/

.result-card .mdc-card:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  transition: all .3s;
}

.mdc-card__prev [class^="icon-"], .mdc-card__prev [class*=" icon-"] {
  display: block;
  margin: auto;
}

/*RESULT END*/
/*HOW TO APPLY*/
.how_to_apply .offer-img{
  background-image: url(img/apply.png);
}

.apply-text {
  margin: 5px;
    flex: 1 40%;
}

.mdc-linear-progress {
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: 10px;
    border-radius: 25px;
}

.mdc-linear-progress .mdc-linear-progress__bar-inner {
    background-color: #fbb900;
}

/*HOW TO APPLY END*/
/*JOIN US*/
.join_us .mdc-button--raised{
  background: #fbb900;
  font-weight: 900;
  text-transform: none;
}

.join_us .offer-img {
  background-image: url(img/join.png);
}

/*JOIN US END*/
/*FAQ*/

#faq-left.mdc-card__media {
  background-image: url("img/faq.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 225px;
}

#faq-right.mdc-card__media {
  background-image: url("img/telega.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 312px;
}

.faq .mdc-button--raised {
  text-transform: none;
  font-weight: 900;
  background: #abcb58;
}

.telega.mdc-button {
  border: 1px solid #2fa7dd;
  color: #2fa7dd;
  border-radius: 35px;
  width: 50%;
  margin: 0 auto;
}

/*FAQ END*/
/*CONTACT*/
.contact .mdc-card{
  background: #fbb900;
}

.contact .mdc-card__primary {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.contact-list {
  margin-bottom: 0;
  padding: 10px;
  -webkit-padding-start: 0px;
  border-bottom: 2px solid white;
  width: 100%;
}

.contact-item {
  list-style: none;
}
.contact-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 2px 0px;
}

.phone {
  /*font-family: 'Arial Black';*/
  font-size: 22px;
}

.contact-link .fa {
  width: 20px;
  text-align: center;
  margin-right: 20px;
}

.social-list {
  margin: 0;
  padding: 10px;
  -webkit-padding-start: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 100%;
}
.social-item {
  list-style: none;
  margin: 0 15px;
}

.social-link {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

.social-link:hover {
  /*transform: scale();*/
}

/*CONTACT END*/


@media (max-width: 1200px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}

}

@media screen and (max-width: 959px) { 
	body {
		font-size: 12px;
	}

	.static-text{
		font-size: 2.8em;
	}

	.auto-text  p{
	  font-size: 22px;
	}
}

@media screen and (max-width: 459px) {
	.logo {
		display: none;
	}

	body {
		font-size: 10px;
	}

	.static-text{
		font-size: 2.2em;
	}

	.auto-text  p{
	  font-size: 14px;
	}
}

.who_we_text{
  padding: 0% 30% 2% 30%;
}

.mdc-card__supporting-text{
  padding: 5px 30px;
}
