
img {
	width: 100%;
}

.overflow {
  overflow: hidden;
}

body {
  font: 12px Arial;
  background: #eee;
}

.header {
	background: #fbb900;
	background: url('../img/pattern-min.png') no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.logo {
	width: 200px;
	margin: 10px auto;
}

.apply {
  /*font-size: 24px;*/
}

.apply.btn, .btn-large, .btn-flat {
    padding: 0 1rem;
  }
.apply.btn, .btn-large {
    color: #fff;
    background-color: #fbb90000;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav .logo-hidden {
	/*display: none;*/
  width: 83px;
  margin: 7px auto;
}

nav {
	background: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

h2{
     font-size: 24pt;
     font-family: 'Arial black';
     color: #333333;
     text-align: center;
     margin: 0;
     margin-bottom: 30px;
}

h1 {
    font-size: 18pt;
    font-family: 'Arial black';
    color: #333333;
    text-align: center;
    margin: 0;
}

.navbar-fixed {
	z-index: 998;
}

.navbar-fixed:after {
	content: " ";
	display: block;
	height: 56px;
}

.nav-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;	-ms-flex-pack: justify;	justify-content: space-between;
	padding: 0 20px;
	background: #fbb900;
  box-shadow: none;
  transition: all .2s;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-nav {
	align-self: center;
	background: white;
	color: #444;
}
.btn-nav:hover {
	background: #eee;
}

.title-header {
    color: white;
    margin: 25px;
    font-size: 35px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
}

.auto-text {
	text-align: center;
	color: white;
	font-size: 2em;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
}

.card .card-content.unit-info {
  /*padding: 0;*/
}
.photo-carousel {
  background: #f5f5f5;
}

.card-info {
  background: #f5f5f5;
  margin: 0;
}

.img-info {
  width: 100%;
  height: 250px;
}

.tabs .tab a {
  color: rgba(0,0,0,.7);
}
.tabs .tab a.active {
  color: rgba(0,0,0,1);
}
.tabs .indicator {
    background-color: #fbb900;
}

.owl-prev {
    left: 0px;
    top: 0px;
    position: absolute;
    bottom: 0;
    width: 15%;
    margin: 0px;
    background: transparent;
}
.owl-next {
    right: 0px;
    top: 0px;
    position: absolute;
    bottom: 0;
    width: 15%;
    margin: 0px;
}
.owl-theme .owl-nav {
   margin-top: 0px; 
}
.owl-theme .owl-nav [class*='owl-'] {
    font-size: 54px;
    margin: auto;
    background: transparent;
  /*background: rgba(0,0,0,.5);*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: rgba(0,0,0,.5);
}

.owl-theme .owl-nav .material-icons {
  font-size: 54px;
  margin: auto;
}

.owl-theme .owl-nav .fa {
  font-size: 24px;
  margin: auto;
}

.result ol{
	/*text-align: center;*/
	list-style-position: inside;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	list-style-type:none;

}

.result li {
	padding: 2%;
}

label {
    font-size: .8rem;
    color: #444;
}


[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    /* border: 2px solid #fbb900; */
    background-color: #fbb900;
    z-index: 0;
}


[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #fbb900;
    z-index: 0;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    border: 1px solid #fbb900;

}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #fbb900;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.faq-card_2{

}

.btn:hover {
    text-decoration: none;
    color: white;
    background-color: #fbb900;
}

.faq .btn {
	background-color: transparent;
	border: 1px solid #0088cc;
	color: #0088cc;
}

.faq .fab{
	padding-right: 7px;
}

.faq .z-depth-1-half, .faq .btn:hover{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.faq  .z-depth-1-half, .faq .btn{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.contacts .card{
	background-color: #fbb900;
}

.contacts .logo{
	width: 50px;
	height: auto;
}

.
.contact-list {
  -webkit-padding-start: 0px;
  /*border-bottom: 2px solid #fbb900;*/
  border-bottom: 2px solid white;

  width: 100%;
}

.contact-item {
  list-style: none;
}
.contact-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-decoration: none;
  color: white;
  /*color: #fbb900;*/

  font-size: 18px;
  font-weight: bold;
  margin: 2px 0px;
}

.phone {
  /*font-family: 'Arial Black';*/
  font-size: 22px;
}

.contact-link .fa {
  width: 20px;
  text-align: center;
  margin-right: 20px;
}

.social-list {
  margin: 0;
  padding: 10px;
  -webkit-padding-start: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 100%;
}
.social-item {
  list-style: none;
  margin: 0 15px;
}

.social-link {
  text-decoration: none;
  color: white;!important;
  /*color: #fbb900;*/
  font-size: 32px;
}

.contacts .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
     color: white;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.contacts .card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid white;
	text-align: center;
	width: 100%;
    padding: 16px 24px;
}


/* read more styles  */
.read-more-target .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.read-more-target {
    visibility: visible;
    opacity: 1;
}

/* read more styles END */

.entry-card .card-image {
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
}

.step-1 {
    background-image: url("../img/1.svg");
}

.step-2 {
    background-image: url("../img/2.svg");
}

.step-3 {
    background-image: url("../img/3.svg");
}

.step-4 {
    background-image: url("../img/44.svg");
}

.step-5 {
    background-image: url("../img/5.svg");
}


