
* {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #f3f5f6;
}

header {
    position: fixed;
    width: 100%;
    background: #212123;
    padding: 10px;
}

.search {
    float: right;
    display: block;
    position: relative;
    width: 220px;
    height: 33px;
}

header input[type="text"] {
    position: absolute;
    height: 33px;
    width: 220px;
    margin: 0;
    padding: 0 5px 0 38px;
    border: 0px solid #ccc;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    line-height: 33px\9;
    outline: none;
    border-radius: 3px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.8);
}

header input[type="button"] {
    text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 4px;
        height: 100%;
        width: 32px;
        padding: 0;
        background-image: url('https://cdn0.iconfinder.com/data/icons/octicons/1024/search-128.png');
        background-repeat: no-repeat;
        background-size: 18px;
        background-color: transparent;
        background-position: center center;
        opacity: 0.6;
        z-index: 1002;
        cursor: pointer;
        border: none;
}


.logo {
    display: inline-block;
    margin: 3px;
    width: 72px;
    height: 23px;
    background-image: url(https://s.yimg.com/pw/images/flickr_logo_gn_styleguide_1x.png);
    
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container-fluid {
    width: 1070px;
    margin: 0 auto;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: table;
    clear: both;
}

/*main*/

main {
    padding-top: 53px;
}

main h1 {
    text-align: center;
    margin: 30px 0;
    text-transform: capitalize;
}

main aside {
    margin: 20px 0;
}

main article {
    background: white;
    padding: 20px 25px;
    padding-left: 100px;
}

main a {
    display: block;
    width: 100%;
    height: 550px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
}
.date {
        color: #898989;
}
.title {
    font-size: 1.2em;
}