
body .screen {
  background-color: #adf4ff;
  border: solid 12px #333333;
  border-bottom: none;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  width: 280px;
  height: 173.6px;
  position: absolute;
  left: calc(50% - 140px - 11.2px );
  bottom: calc(50% - 86.8px - 5.6px );
}
body .screen .cloud {
  position: absolute;
  border-radius: 50%;
  bottom: calc(0% - 14px );
  width: 40px;
  height: 40px;
}
body .screen .c-l1l, body .screen .c-l2l {
  right: calc(50% - 14px );
}
body .screen .c-l1r, body .screen .c-l2r {
  left: calc(50% - 14px );
}
body .screen .c-l1l, body .screen .c-l1r {
  background-color: #ffff99;
}
body .screen .c-l2l, body .screen .c-l2r {
  background-color: #ffff66;
}
body .screen .c-l1l {
  animation: cloudLeftAnimation1 infinite 8s ease-in;
}
body .screen .c-l1r {
  animation: cloudRightAnimation1 infinite 8s ease-in;
}
body .screen .c-l2l {
  animation: cloudLeftAnimation2 infinite 4s ease-in;
}
body .screen .c-l2r {
  animation: cloudRightAnimation2 infinite 4s ease-in;
}
body .screen .c11 {
  animation-delay: 0s;
}
body .screen .c21 {
  animation-delay: 1s;
}
body .screen .c12 {
  animation-delay: 2s;
}
body .screen .c22 {
  animation-delay: 2s;
}
body .screen .c13 {
  animation-delay: 4s;
}
body .screen .c23 {
  animation-delay: 3s;
}
body .screen .c14 {
  animation-delay: 6s;
}
body .screen .c24 {
  animation-delay: 4s;
}
body .screen .spaceship {
  animation: takeOff infinite 10s ease-in;
  animation-delay: 4s;
  position: absolute;
  left: 50%;
  bottom: 0%;
}
body .screen .spaceship .cloud-0 {
  background-color: #ffff80;
  position: absolute;
  width: 12.9px;
  height: 400.6px;
  left: calc(50% - 6.5px - 0.7px);
  top: calc(0% - 1.4px);
}
body .screen .spaceship .part-1, body .screen .spaceship .part-2 {
  background-color: white;
  width: 34.72px;
  height: 69.44px;
  position: absolute;
  bottom: calc(0% + 11.8px*0.25 );
  transform: scaleX(0.35);
  -o-transform: scaleX(0.35);
  -ms-transform: scaleX(0.35);
  -moz-transform: scaleX(0.35);
  -webkit-transform: scaleX(0.35);
}
body .screen .spaceship .part-1 {
  border-radius: 0 34.7px 34.7px 0;
  left: calc(50% - 34.7px*(1 - 0.35)/2 - 1px);
}
body .screen .spaceship .part-2 {
  border-radius: 34.7px 0 0 34.7px;
  right: calc(50% - 34.7px*(1 - 0.35)/2 - 1px);
}
body .screen .spaceship .part-3 {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 0 6.94px 6.94px 6.94px;
  border-color: transparent transparent white transparent;
  left: calc(50% - 6.94px );
  bottom: calc(0% + 11.8px*0.15 );
}


body .logo_rocket{
    position: absolute;
    left: -6px;
    bottom: 25px;
}

body .logo_rocket--text{
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  -ms-transform: rotate(-90deg); 
  transform: rotate(-90deg);
  font-size: 7px;
  position: absolute;
  bottom: -18px;
  left: -1px;
}

body .screen .spaceship .wing-l1 {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 0 0 23.6px 27.8px;
  border-color: transparent transparent #2196F3 transparent;
  right: 50%;
  bottom: calc(0% + 11.8px );
}
body .screen .spaceship .wing-r1 {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 23.7px 0 0 27.8px;
  border-color: transparent transparent transparent #2196F3;
  left: 50%;
  bottom: calc(0% + 11.8px );
}
body .screen .spaceship .wing-l2 {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 11.8px 27.8px 0 0;
  border-color: #2196F3 transparent transparent transparent;
  right: 50%;
  bottom: calc(0% + 1px);
}
body .screen .spaceship .wing-r2 {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 0 27.8px 11.8px 0;
  border-color: transparent #2196F3 transparent transparent;
  left: 50%;
  bottom: calc(0% + 1px);
}
body .keyboard {
  background-color: #919191;
  border-bottom: solid 3.5px #333333;
  border-bottom-left-radius: 4.5px;
  border-bottom-right-radius: 4.5px;
  width: 342.88px;
  height: 5.6px;
  position: absolute;
  left: calc(50% - 171.44px );
  top: calc(50% + 86.8px + 5.6px );
}
body .keyboard .mouse {
  margin-left: -64.8px;
  border-bottom-left-radius: 2.8px;
  border-bottom-right-radius: 2.8px;
  background-color: #333333;
  position: absolute;
  width: 90.72px;
  height: 2.8px;
  left: 57%;
  top: 0%;
}


@keyframes takeOff {
  0%, 65% {
    bottom: 0%;
  }
  15%, 40% {
    bottom: 248px;
  }
}
@-o-keyframes takeOff {
  0%, 65% {
    bottom: 0%;
  }
  15%, 40% {
    bottom: 248px;
  }
}
@-moz-keyframes takeOff {
  0%, 65% {
    bottom: 0%;
  }
  15%, 40% {
    bottom: 248px;
  }
}
@-webkit-keyframes takeOff {
  0%, 65% {
    bottom: 0%;
  }
  15%, 40% {
    bottom: 248px;
  }
}
@keyframes cloudLeftAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@-o-keyframes cloudLeftAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@-moz-keyframes cloudLeftAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@-webkit-keyframes cloudLeftAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@keyframes cloudRightAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@-o-keyframes cloudRightAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@-moz-keyframes cloudRightAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@-webkit-keyframes cloudRightAnimation1 {
  100% {
    width: 200px;
    height: 200px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@keyframes cloudLeftAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@-o-keyframes cloudLeftAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@-moz-keyframes cloudLeftAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@-webkit-keyframes cloudLeftAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
  }
}
@keyframes cloudRightAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@-o-keyframes cloudRightAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@-moz-keyframes cloudRightAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
@-webkit-keyframes cloudRightAnimation2 {
  100% {
    width: 200px;
    height: 140px;
    transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -webkit-transform: translateX(220px);
  }
}
