body {
    background: rgba(0, 255, 155, .3);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}


.carousel {
    max-width: 50%;
    position: relative;
    margin: 0 auto;
}

.carousel li {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all .6s, z-index .2s;
    will-change: transform;
}

.carousel li img {
    width: 100%;

}

.left {
    transform: translateX(-60%) scale(.7);
    height: 100%;
}

.center {
    z-index: 10;
}

.right {
    transform: translateX(60%) scale(.7);
    height: 100%;
}

.carousel .first {
    z-index: -1
}

.paginator {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}

.btn-left,
.btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    background: #E1E73D;
    border: 1px solid white;
    border-radius: 50%;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 100;
}